@import "tailwindcss";

:root {
  font-family: "Arial", sans-serif;
  background-color: rgb(172, 111, 111);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}